@page "/vikmc"

<HeadContent>
    <link href="css/vikmc.css" rel="stylesheet">
</HeadContent>

<PageTitle>Built by albi05</PageTitle>

<style>
    /* Inspired by https://perfectmotherfuckingwebsite.com/ */
    body {
        max-width: 650px;
        margin: 48px auto;
        padding: 0 8px;
        line-height: 1.5;
        font-size: 18px;
    }
    
    h1, h2, h3 {
        line-height: 1.2;
        margin-top: 48px;
    }
</style>

<h2 id="b1">Starter base</h2>
<Thumbnail Src="starter-base"/>
<PortalCoordinates X="-37" Y="129" Z="-185"/>

<h2 id="vb">Villager breeder</h2>
<Thumbnail Src="villager-breeder"/>
<PortalCoordinates X="296" Y="133" Z="243"/>
<YouTube
    Href="https://youtu.be/hyia7TmE3Ag"
    Title="Auto Villager Breeder in 5 minutes"
    Creator="RaysWorks"/>

<h2 id="th">Villager trading hall</h2>
<Thumbnail Src="trading-hall"/>
<PortalCoordinates X="294" Y="128" Z="211"/>
Designer unknown

<h2 id="sf">Slime farm</h2>
<Thumbnail Src="slime-farm"/>
<PortalCoordinates X="65" Y="192" Z="-410"/>
<YouTube
    Href="https://youtu.be/MkFGcw90a7Y"
    Title="Super Swamp Slime Farm"
    Creator="Fortun8diamond"/>

<h2 id="rf">Raid farm 2.0</h2>
<Thumbnail Src="raid-farm"/>
<PortalCoordinates X="166" Y="129" Z="-396"/>
<YouTube
    Href="https://youtu.be/n3mOlrMGjUg"
    Title="Practical Stacking Raid Farm"
    Creator="ianxofour"/>

<h2 id="hf">Honey farm</h2>
<Thumbnail Src="honey-farm"/>
<PortalCoordinates X="-6" Y="128" Z="-37"/>
<YouTube
    Href="https://youtu.be/VF9koLHrVng"
    Title="Get Started: 1.15 Honey Farm"
    Creator="ilmango"/>

<h2 id="ba">Bamboo farm</h2>
<Thumbnail Src="bamboo-farm"/>
<PortalCoordinates X="-6" Y="128" Z="-37"/>
<Discord
    Href="https://discord.com/channels/594920796867133446/594922890172825600/857359706599456779"
    Title="Flying Machine based Bamboo Farm"
    Creator="duondraven"/>

<h2 id="sh">Shulker farm</h2>
<Thumbnail Src="shulker-farm"/>
<PortalCoordinates X="-25" Y="128" Z="-30"/>
<YouTube
    Href="https://youtu.be/4KzL5aw4MiE"
    Title="Instant Shulker Farm"
    Creator="ianxofour"/>
