<div class="thumbnail" style="background-color: var(--md-sys-color-tertiary-container)">
    <svg viewBox="0 0 512 288" xmlns="http://www.w3.org/2000/svg">
        <path
            id="dishelps-logo"
            d="M359.81 120.235c-3.63-3.613-13.586-4.858-13.586 1.364 0 6.223 13.69 6.223 13.69 12.445 0 6.223-11.2 4.978-14.933 1.245m-24.884 13.977l-.006-31.4v9.956c0-4.978 2.488-9.956 7.467-9.956 4.977 0 7.466 4.977 7.466 9.956 0 4.978-2.488 9.955-7.466 9.955-4.979 0-7.467-4.976-7.467-9.955m-13.69-23.645v31.112c0 2.488 1.245 3.733 3.733 3.733m-13.688-2.488c-5.422 3.998-17.424 4.976-17.424-8.712 0-6.223 2.49-11.2 8.712-11.2 6.222 0 8.712 4.977 8.712 11.2h-17.424M216.8 151.467c3.733 11.2 19.912 11.2 23.645 0m0-12.445h0m-23.645 0h0m-11.305-18.787c-3.628-3.613-13.585-4.858-13.585 1.364 0 6.223 13.689 6.223 13.689 12.445 0 6.223-11.2 4.978-14.935 1.245m-9.955-17.424v21.157c0 59.735 88.358 59.735 88.358 0v-14.933c0-9.957-17.423-9.957-17.423 0v14.933-34.845m-70.935 4.977h0m-11.2-4.977v26.134c0 4.977-3.733 8.712-8.712 8.712-4.977 0-8.711-3.735-8.711-11.201 0-6.223 3.733-9.956 8.712-9.956 3.733 0 6.221 1.244 8.71 4.977"
            stroke-width="6.222" fill="none" stroke="var(--md-sys-color-tertiary)" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</div>
