<Colors />
<Styles />
<div style="display: flex">
    <div class="hide-on-mobile">
        <div style="position: sticky; top: 0">
            <nav>
                <ul>
                    <li>
                        <a href="#dishelps">DisHelps</a>
                    </li>
                    <li>
                        <a href="#materialcolorutilities">MaterialColorUtilities</a>
                    </li>
                    <li>
                        <a href="#menza">Menza</a>
                    </li>
                    <li>
                        <a href="#blace">Blace</a>
                    </li>
                    <li>
                        <a href="#keletikuria">Keleti Kúria</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <main>
        <div style="margin: calc(50vh - 128px) 0; text-align: center">
            <h1>Albi</h1>
            Albert Ragány-Németh
        </div>
        
        <div class="show-on-mobile">
            <div class="tertiary">
                <nav style="text-align: center; position: unset; display: block; height: unset">
                    <ul>
                        <li>
                            <a href="https://github.com/albi005">GitHub</a>
                        </li>
                        <li>
                            <a href="mailto:hi@alb1.hu">Email</a>
                        </li>
                        <li>
                            <a href="https://linkedin.com/in/albertrn">LinkedIn</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        <h2 id="projects">
            Projects
        </h2>
        
        <article id="dishelps">
            <DisHelpsThumbnail />
            <h3>DisHelps</h3>
            <Web Link="dishelps.org"/>
            <PlayStore Text="Coming soon"/>
            <AppStore Text="Coming soon"/>
            <p>
                Mobile app for children with learning disabilities.
                Provides a place where they can share their experiences,
                learn about their condition and find help.
            </p>
            <h4>Technologies used</h4>
            <ul>
                <li>.NET MAUI</li>
                <li>ASP.NET Core web APIs and Razor Pages</li>
                <li>Piranha CMS</li>
                <li>Entity Framework</li>
                <li>Azure Active Directory B2C</li>
            </ul>
        </article>

        <article id="materialcolorutilities">
            <Preview Height="352" Src="https://albi005.github.io/MaterialColorUtilities/theme-builder?color=4285f4&style=expressive" />
            <h3 style="overflow-wrap: anywhere">MaterialColorUtilities</h3>
            <GitHub Repo="albi005/MaterialColorUtilities"/>
            <Web Link="albi005.github.io/MaterialColorUtilities"/>
            <NuGet Package="MaterialColorUtilities"/>
            <NuGet Package="MaterialColorUtilities.Maui"/>
            <p>
                C# implementation of Google's Material You color algorithms.
                Includes multiple image quantizers and converter functions for a new color space.
                Can be used to generate a color palette with perfect contrasts from
                any color extracted from an image.
            </p>
            <p>
                Try changing the seed color or style in the above iframe.
                You can even try out extracting a color from an image
                by clicking the wallpaper button.
            </p>
        </article>

        <article id="menza">
            <Preview Src="https://menza.alb1.hu/?preview" />
            <h3>Menza</h3>
            <Web Link="menza.alb1.hu"/>
            <GitHub Repo="albi005/Menza"/>
            <p>
                A website where students can quickly check what is for lunch
                and rate it.
            </p>
            <h4>Technologies used</h4>
            <ul>
                <li>Blazor WebAssembly</li>
                <li>ASP.NET Core Web API</li>
                <li>Entity Framework</li>
                <li>Firebase Auth</li>
            </ul>
        </article>

        <article id="blace">
            <Preview Src="https://blace.alb1.hu/?preview" />
            <h3>Blace</h3>
            <Web Link="blace.alb1.hu"/>
            <GitHub Repo="albi005/Blace"/>
            <p>
                Reddit's r/place recreated with Blazor WebAssembly. Players can
                place pixels one-by-one on a 100x100 canvas. The canvas is updated in
                real-time with SignalR.
            </p>
            <h4>Technologies used</h4>
            <ul>
                <li>Blazor WebAssembly</li>
                <li>ASP.NET</li>
                <li>Azure CosmosDB</li>
                <li>SignalR</li>
            </ul>
        </article>

        <article id="keletikuria">
            <h3>Keleti Kúria</h3>
            <Web Link="keletikuria.azurewebsites.net"/>
            <p>
                Website for a mansion in Hungary. Visitors
                can learn about the mansion's history, see photos, check its
                availability and make bookings.
            </p>
            <h4>Technologies used</h4>
            <ul>
                <li>Blazor Server</li>
                <li>ASP.NET Core Identity</li>
                <li>Piranha CMS</li>
                <li>Entity Framework</li>
            </ul>
        </article>
        
        <h2 id="other">Other</h2>
        <div class="link-list" style="text-align: center">
            <a href="https://github.com/albi005/alb1.hu">alb1.hu</a>
            <a href="https://github.com/albi005/.config">~/.config</a>
            <a href="https://github.com/albi005/NemesOnline">NemesOnline</a>
            <a href="https://github.com/albi005/AdventOfCode2022">AdventOfCode2022</a>
            <a href="https://github.com/albi005/LeetCode">LeetCode</a>
            <a href="https://github.com/albi005/Erettsegi">Info érettségi</a>
        </div>
    </main>
    <div class="hide-on-mobile">
        <div style="position: sticky; top: 0" class="tertiary">
            <nav>
                <ul>
                    <li>
                        <a href="https://github.com/albi005">GitHub</a>
                    </li>
                    <li>
                        <a href="mailto:hi@alb1.hu">Email</a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/albertrn">LinkedIn</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
