<HeadContent>
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&text=Keleti%20K%C3%BAria%20Neszm%C3%A9ly" rel="stylesheet">
</HeadContent>

<div class="thumbnail" style="background-color: var(--md-sys-color-surface-container)">
    <svg style="pointer-events: none" viewBox="3 1 20 20" height="180px">
        <path
            d="M18.8 13.6 18.8 15.2M18.1 13.6 18.1 15.2M17.4 13.6 17.4 15.2M16.8 13.6 16.8 15.2M16.1 13.6 16.1 15.2M15.5 13.6 19.5 13.6M15.5 12.7 19.5 12.7 19.5 15.2 15.5 15.2ZM14 13.6 14 15.2M12.5 13.6 12.5 16.2M11 13.6 11 15.2M11.7 15.2 11.7 12.7M13.4 12.7 13.4 15.2M10.4 13.6 14.6 13.6M13.4 16.2 13.4 15.2 14.6 15.2 14.6 12.7 10.4 12.7 10.4 15.2H11.7L11.7 16.2M7.5 13.7 7.5 15.2M6.9 13.7 8.2 13.7M6.9 12.9H8.2L8.2 15.2 6.9 15.2ZM17.3 9.1 17.3 10.5M7.6 9.1V10.5M12.5 8 12.5 10.5M14 8.3 14 10.5 11 10.5 11 8.3M11 8.3C11 8.3 12.3 7.6 14 8.3M16.5 9.1 17.9 9.1M16.3 8.8 17.2 8.1 18.1 8.8 17.9 9.1V10.5L16.5 10.5 16.5 9.1ZM6.9 9.1 8.2 9.1M6.7 8.8 7.6 8.1 8.5 8.8 8.2 9.1V10.5L6.9 10.5 6.9 9.1ZM5.1 8.2 9.6 8.2 9.6 6.9 10.4 6.9 12.5 5.8 14.9 6.9 15.5 6.9 15.5 7.5 15.3 7.7 15.3 8.2 17.9 8.2 18.1 8 19.5 8 19.5 8.5 20.9 11.4 21.5 11.4 21.9 11.7V12.2L21.7 12.4 21.9 16.2 4.5 16.2 4.5 11.9 4.1 11.8Z"
            stroke="var(--md-sys-color-primary)"
            stroke-width=".15"
            fill="none"
            class="logo"/>
        <path
            id="curve"
            stroke="none"
            fill="none"
            d="m5 5.6a20 20 90 0115-.1"/>
        <text>
            <textPath textLength="15.5" xlink:href="#curve" style="font-size: 3px">
                Keleti Kúria
            </textPath>
        </text>
        <text x="12.5" y="19.4" style="font-size: 2.3px" text-anchor="middle">
            Neszmély
        </text>
    </svg>
</div>
