<div class="thumbnail" style="height: @(Height)px;@(Height != null ? "aspect-ratio: unset;" : null)" src="@Src"></div>

@code {
    [Parameter]
    [EditorRequired]
    public string Src { get; set; } = null!;
    
    [Parameter]
    public uint? Height { get; set; }
}
