<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="favicon.ico">
    <link rel="me" href="https://dotnet.social/@@albi">
    <link href="style.css" rel="stylesheet">
    <link href="colors.css" rel="stylesheet">
    <HeadOutlet />
</head>
<body>

<Routes />

<style id="colors"></style>

<script>
    window.onload = function () {
        const previews = document.querySelectorAll('div.thumbnail[src]');
        function replaceDivWithIframe(div) {
            const iframe = document.createElement('iframe');
            iframe.src = div.getAttribute('src');
            iframe.style.height = div.style.height;
            iframe.style.width = div.style.width;
            iframe.style.aspectRatio = div.style.aspectRatio;
            iframe.className = div.className;
            iframe.loading = 'lazy';
            div.replaceWith(iframe);
        }
        function replacePreview(index) {
            console.log(index);
            if (index >= previews.length)
                return;
            const preview = previews[index];
            replaceDivWithIframe(preview);
            window.setTimeout(function () {
                replacePreview(index + 1);
            }, 2000);
        }
        window.setTimeout(function () {
            replacePreview(0);
        }, 2000);
    };
    
    window.addEventListener("message", function (event) {
        if (event.origin !== "https://albi005.github.io") return;
        if (!event.data.includes("--md-sys-color-primary")) return;
        
        // XSS who?
        document.getElementById('colors').innerHTML = event.data;
    });
</script>
</body>
</html>
