@page "/"
@namespace Hello.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="favicon.ico">
    <title>Albi</title>
</head>
<body>

<component type="typeof(App)" render-mode="Static"/>

<script>
    window.onload = function () {
        const anchors = document.querySelectorAll('a[href^="#"]');

        for (let i = 0; i < anchors.length; i++) {
            anchors[i].addEventListener("mouseover", function (event) {
                event.preventDefault(); // Prevent the default behavior

                // Get the target element's ID from the href attribute
                const targetId = this.getAttribute("href").substr(1);

                // Update the URL without reloading the page
                history.pushState(null, "", "#" + targetId);

                // Scroll to the target element
                document.getElementById(targetId).scrollIntoView({
                    behavior: "auto",
                });
            });
        }
        
        const previews = document.querySelectorAll('div.thumbnail[src]');
        function replaceDivWithIframe(div) {
            const iframe = document.createElement('iframe');
            iframe.src = div.getAttribute('src');
            iframe.height = div.style.height;
            iframe.className = div.className;
            iframe.loading = 'lazy';
            div.replaceWith(iframe);
        }
        function replacePreview(index) {
            console.log(index);
            if (index >= previews.length)
                return;
            const preview = previews[index];
            replaceDivWithIframe(preview);
            window.setTimeout(function () {
                replacePreview(index + 1);
            }, 2000);
        }
        window.setTimeout(function () {
            replacePreview(0);
        }, 2000);
    };
    
    window.addEventListener("message", function (event) {
        // What XSS?
        document.getElementById('colors').innerHTML = event.data;
    });
</script>
</body>
</html>
